.container {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
}
a {
  text-decoration: none;
}
* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
.header {
  width: 1000px;
  height: 500px;
  background: yellow;
  border-radius: 20px;
}
.top {
  margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.topH1 {
  padding: 40px;
  margin: auto;
  width: 60%;
}
.block {
  width: 200px;
  height: 70px;
  background: rgb(167, 234, 255);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.fff {
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  width: 80%;
}
.flex {
  display: flex;
  align-items: center;
}
.text2 {
  font-size: 15px;
  margin-bottom: 50px;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 10px;
  font-weight: 900;
}
.text2 h2{
  font-weight: 900;
}
.text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}
.title {
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
